@page "/sheetinput"
@using HubCloud.BlazorSheet.Core.Enums

<h3>Sheet Input</h3>
<hr/>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-sm btn-outline-primary" @onclick="OnClearLogClick">Clear log</button>
    </div>
</div>
<hr/>


<div class="row">
    <div class="col-sm-8">

        <HubCloud.BlazorSheet.Components.SheetComponent
            Sheet="@_workbook.FirstSheet"
            Regime="SheetRegimes.Readonly"
            CellValueChanged="OnCellValueChanged">
        </HubCloud.BlazorSheet.Components.SheetComponent>

    </div>
    <div class="col-sm-4">
        
        @if (_evaluator != null)
        {
            <div class="list-group" style="overflow-y:auto; max-height: 500px;font-size: 10px;">
                @foreach (var msg in _evaluator.Messages)
                {
                    if (msg.Level == LogLevel.Error)
                    {
                        <div class="list-group-item list-group-item-danger">
                            <span>@msg.Period</span>
                            <span>&nbsp;</span>
                            <span>@msg.Text</span>
                        </div>
                    }
                    else
                    {
                        <div class="list-group-item">
                            <span>@msg.Period</span>
                            <span>&nbsp;</span>
                            <span>@msg.Text</span>
                        </div>
                    }
                }
            </div>
        }
        
    </div>
</div>

