@page "/sheetedit"

@using HubCloud.BlazorSheet.Core.Enums
@using HubCloud.BlazorSheet.Components

<h3>Sheet Edit</h3>

<hr/>

<span>Selected cells can be joined: @_canBeJoined</span>

<hr />

<SheetCommandPanel Model="@_commandPanelModel"
                   ItemsSourceDataProvider="@_itemSourceDataProvider"
                   OpenCellLinkModal="() => _sheetComponent.OpenCellLinkModal()"
                   Changed="OnStyleChanged">
</SheetCommandPanel>

<hr/>

<div class="row">

    <div class="col-sm-12">

        <SheetComponent @ref="_sheetComponent" 
                        Sheet="@_sheet"
                        MaxHeight="500px"
                        MaxWidth="1000px"
                        Regime="@SheetRegimes.Edit"
                        CellSelected="OnCellSelected"
                        CellsSelected="OnCellsSelected"
                        RowSelected="OnRowSelected"
                        ColumnSelected="OnColumnSelected">
        </SheetComponent>

    </div>

</div>