@page "/sheetedit"

@using HubCloud.BlazorSheet.Core.Enums
@using HubCloud.BlazorSheet.Components

<h3>Sheet Edit</h3>

<hr/>

<SheetCommandPanel Model="@_commandPanelModel"
                   ItemsSourceDataProvider="@_itemSourceDataProvider"
                   SelectedCellsCount="@SelectedCellsCount"
                   CanCellsBeJoined="@_canCellsBeJoined"
                   CanRowsBeGrouped="@_canRowsBeGrouped"
                   CanRowsBeUngrouped="@_canRowsBeUngrouped"
                   OpenCellLinkModal="() => _sheetComponent.OpenCellLinkModal()"
                   SplitJoinCells="() => _sheetComponent.SplitJoinCells()"
                   GroupRows="OnGroupRows"
                   UngroupRows="OnUngroupRows"
                   CollapseExpandAllRows="OnCollapseExpandAllRows"
                   Changed="OnStyleChanged">
</SheetCommandPanel>

<hr/>

<div class="row">

    <div class="col-sm-12">

        <SheetComponent @ref="_sheetComponent" 
                        Sheet="@_sheet"
                        MaxHeight="500px"
                        MaxWidth="1000px"
                        Regime="@SheetRegimes.Design"
                        CellSelected="OnCellSelected"
                        CellsSelected="OnCellsSelected"
                        RowSelected="OnRowSelected"
                        RowsByNumberSelected="OnRowsByNumberSelected"
                        ColumnSelected="OnColumnSelected">
        </SheetComponent>

    </div>

</div>