@using HubCloud.BlazorSheet.Core.Enums
<td @key="@Cell.Uid"
    @ref="_cellElement"
    id="@Id"
    class="@CellClass(Cell)"
    style="@CellStyle(Row, Column, Cell)"
    @onclick="(e => OnCellClick(e, Cell))"
    @ondblclick="(e => OnCellDblClick(e, Cell))"
    colspan="@Cell.Colspan"
    rowspan="@Cell.Rowspan">

    @if (Cell.HasLink)
    {
        <a href="@Cell.Link" target="_blank">@Cell.StringValue</a>
    }
    else
    {
        if (Cell.Indent > 0)
        {
            <span>@GetHtmlSpacing(Cell.Indent)</span>
            <span>@Cell.Text</span>
        }
        else
        {
            @Cell.Text
        }

        @if (Regime == SheetRegimes.Design)
        {
            <span>&nbsp;</span>
            if (Cell.EditSettingsUid.HasValue)
            {
                var editSettings = Sheet.GetEditSettings(Cell);
                <span>@editSettings.ControlKind</span>
            }
            <span>@Cell.Format</span>

            @if (!string.IsNullOrEmpty(Cell.Formula))
            {
                <span>=</span>
                <small>@Cell.Formula</small>
            }
        }
    }

</td>