@using BBComponents.Components
@using HubCloud.BlazorSheet.Core.Consts;
@using HubCloud.BlazorSheet.Core.Enums

<div class="hc-sheet-command-panel">
    <div class="row" style="font-size:12px;">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-primary bg-light">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" @onclick:preventDefault role="button" data-toggle="dropdown" aria-expanded="false">
                                Freeze
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="() => OnSetFreezedRows(0)">Do not freeze rows</a>
                                <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="() => OnSetFreezedRows(1)">1 row</a>
                                <a class="dropdown-item @(SelectedCellRowNumber == 0 ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFreezedRows(SelectedCellRowNumber)">
                                    Till the row @(SelectedCellRowNumber == 0 ? "..." : SelectedCellRowNumber)
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="() => OnSetFreezedColumns(0)">Do not freeze columns</a>
                                <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="() => OnSetFreezedColumns(1)">1 column</a>
                                <a class="dropdown-item @(SelectedCellColumnNumber == 0 ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFreezedColumns(SelectedCellColumnNumber)">
                                    Till the column @(SelectedCellColumnNumber == 0 ? "..." : SelectedCellColumnNumber)
                                </a>
                            </div>
                        </li>
                        <li class="nav-item" title="Font size">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="text-primary input-group-text">
                                        <i class="fa fa-text-height"></i>
                                    </span>
                                </div>
                                <BbNumberInput TValue="int"
                                @bind-Value="@Model.FontSize"
                                               Changed="OnSettingsChanged"
                                               HtmlClass="form-control"
                                               HtmlStyle="width:50px;text-align:right;">
                                </BbNumberInput>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" @onclick:preventDefault role="button" data-toggle="dropdown" aria-expanded="false" title="Horizontal alignment">
                                <span class="fa fa-align-@_currentTextAlign text-primary"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item @GetActiveTextAlign(TextAlignLeft)"
                                   href="#" @onclick:preventDefault @onclick="() => OnTextAlignChanged(TextAlignLeft)" title="Left">
                                    <span class="fa fa-align-left"></span>
                                </a>
                                <a class="dropdown-item @GetActiveTextAlign(TextAlignJustify)"
                                   href="#" @onclick:preventDefault @onclick="() => OnTextAlignChanged(TextAlignJustify)" title="Center">
                                    <span class="fa fa-align-justify"></span>
                                </a>
                                <a class="dropdown-item @GetActiveTextAlign(TextAlignRight)"
                                   href="#" @onclick:preventDefault @onclick="() => OnTextAlignChanged(TextAlignRight)" title="Right">
                                    <span class="fa fa-align-right"></span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <button class="@ToggleButtonStyle(Model.IsBold) btn-sm" title="Bold" @onclick="OnBoldClick">
                                <span class="fa fa-solid fa-bold"></span>
                            </button>
                            <button class="@ToggleButtonStyle(Model.IsItalic) btn-sm" title="Italic" @onclick="OnItalicClick">
                                <span class="fa fa-solid fa-italic"></span>
                            </button>
                        </li>
                        <li class="nav-item" title="Font color">
                            <div class="input-group input-group-sm" style="padding-left:0.5rem;">
                                <div class="input-group-prepend">
                                    <span class="text-primary input-group-text">
                                        <i class="fa fa-tint"></i>
                                    </span>
                                </div>
                                <input type="color" @onchange="(e => OnColorChange(e))"
                                       value="@Model.Color"
                                       class="form-control p-1"
                                       style="width:50px;" />
                            </div>
                        </li>
                        <li class="nav-item" title="Fill color">
                            <div class="input-group input-group-sm" style="padding-left:0.5rem;">
                                <div class="input-group-prepend">
                                    <span class="text-primary input-group-text">
                                        <i class="fa fa-fill"></i>
                                    </span>
                                </div>
                                <input type="color" @onchange="(e => OnBackgroundColorChange(e))"
                                       value="@Model.BackgroundColor"
                                       class="form-control p-1"
                                       style="width:50px;" />
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" @onclick:preventDefault role="button" data-toggle="dropdown" aria-expanded="false">
                                Borders
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item @GetActiveBorderType(CellBorderTypes.None)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetBorder(CellBorderTypes.None)">
                                    Remove borders
                                </a>
                                <a class="dropdown-item @GetActiveBorderType(CellBorderTypes.Top)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetBorder(CellBorderTypes.Top)">
                                    Upper border
                                </a>
                                <a class="dropdown-item @GetActiveBorderType(CellBorderTypes.Left)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetBorder(CellBorderTypes.Left)">
                                    Left border
                                </a>
                                <a class="dropdown-item @GetActiveBorderType(CellBorderTypes.Bottom)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetBorder(CellBorderTypes.Bottom)">
                                    Bottom border
                                </a>
                                <a class="dropdown-item @GetActiveBorderType(CellBorderTypes.Right)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetBorder(CellBorderTypes.Right)">
                                    Right border
                                </a>
                                <a class="dropdown-item @GetActiveBorderType(CellBorderTypes.All)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetBorder(CellBorderTypes.All)">
                                    All borders
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" @onclick:preventDefault role="button" data-toggle="dropdown" aria-expanded="false">
                                Borders thickness
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item @GetActiveBorderWidth(1)" href="#" @onclick:preventDefault @onclick="() => OnSetBorderWidth(1)">1px</a>
                                <a class="dropdown-item @GetActiveBorderWidth(3)" href="#" @onclick:preventDefault @onclick="() => OnSetBorderWidth(3)">3px</a>
                                <a class="dropdown-item @GetActiveBorderWidth(5)" href="#" @onclick:preventDefault @onclick="() => OnSetBorderWidth(5)">5px</a>
                            </div>
                        </li>
                        <li class="nav-item" title="Borders color">
                            <div class="input-group input-group-sm" style="padding-left:0.5rem;">
                                <div class="input-group-prepend">
                                    <span class="text-primary input-group-text">
                                        <i class="fa fa-border-all"></i>
                                    </span>
                                </div>
                                <input type="color" @onchange="(e => OnBorderColorChange(e))"
                                       value="@Model.BorderColor"
                                       class="form-control p-1"
                                       style="width:50px;" />
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" @onclick:preventDefault role="button" data-toggle="dropdown" aria-expanded="false">
                                Format
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.None)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.None)">
                                    No format
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.Integer)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.Integer)">
                                    Number: @CellDisplayFormatConsts.Integer
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerTwoDecimalPlaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerTwoDecimalPlaces)">
                                    Number: @CellDisplayFormatConsts.IntegerTwoDecimalPlaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerThreeDecimalPlaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerThreeDecimalPlaces)">
                                    Number: @CellDisplayFormatConsts.IntegerThreeDecimalPlaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerWithSpaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerWithSpaces)">
                                    Number: @CellDisplayFormatConsts.IntegerWithSpaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerWithSpacesTwoDecimalPlaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerWithSpacesTwoDecimalPlaces)">
                                    Number: @CellDisplayFormatConsts.IntegerWithSpacesTwoDecimalPlaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerWithSpacesThreeDecimalPlaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerWithSpacesThreeDecimalPlaces)">
                                    Number: @CellDisplayFormatConsts.IntegerWithSpacesThreeDecimalPlaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerNegativeWithSpaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerNegativeWithSpaces)">
                                    Number: @CellDisplayFormatConsts.IntegerNegativeWithSpaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerNegativeWithSpacesTwoDecimalPlaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerNegativeWithSpacesTwoDecimalPlaces)">
                                    Number: @CellDisplayFormatConsts.IntegerNegativeWithSpacesTwoDecimalPlaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.IntegerNegativeWithSpacesThreeDecimalPlaces)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.IntegerNegativeWithSpacesThreeDecimalPlaces)">
                                    Number: @CellDisplayFormatConsts.IntegerNegativeWithSpacesThreeDecimalPlaces
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.Date)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.Date)">
                                    Date: @CellDisplayFormatConsts.Date
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.DateTime)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.DateTime)">
                                    Date&Time: @CellDisplayFormatConsts.DateTime
                                </a>
                                <a class="dropdown-item @GetActiveFormat(CellFormatTypes.Custom)"
                                   href="#" @onclick:preventDefault @onclick="() => OnSetFormat(CellFormatTypes.Custom)">
                                    Custom
                                </a>
                            </div>
                        </li>
                        @if (Model.FormatType == CellFormatTypes.Custom)
                        {
                            <li class="nav-item" title="Custom format">
                                <div style="padding-right:0.5rem;">
                                    <BbTextInput @bind-Value="@Model.CustomFormat" Changed="OnCustomFormatInputChanged" HtmlClass="form-control-sm" HtmlStyle="width:150px;" />
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <button class="btn btn-outline-primary btn-sm" @onclick="(e => OnEditSettingsClick(e))">
                                <span class="fa fa-edit"></span>
                                <span>Edit settings</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <div style="padding-left:0.5rem;">
                                <button title="Excel export" class="btn btn-outline-success btn-sm" @onclick="OnExport">
                                    <span class="fa fa-file-export"></span>
                                </button>
                                <button title="Excel import" class="btn btn-outline-success btn-sm" @onclick="OnImport">
                                    <span class="fa fa-file-import"></span>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div style="padding-left:0.5rem;">
                                <button class="btn btn-outline-primary btn-sm" @onclick="OnOpenCellLinkModal">
                                    <span class="fa fa-solid fa-link"></span>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" @onclick:preventDefault role="button" data-toggle="dropdown" aria-expanded="false">
                                Actions
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item @(IsButtonSplitJoinDisabled() ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="OnSplitJoinCells">
                                    @GetSplitJoinItemLabel()
                                </a>
                                <a class="dropdown-item @(!CanRowsBeGrouped ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="OnGroupRows">
                                    Group rows
                                </a>
                                <a class="dropdown-item @(!CanRowsBeUngrouped ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="OnUngroupRows">
                                    Ungroup rows
                                </a>
                                <a class="dropdown-item"
                                   href="#" @onclick:preventDefault @onclick="OnUngroupAllRows">
                                    Ungroup all rows
                                </a>
                                <a class="dropdown-item"
                                   href="#" @onclick:preventDefault @onclick="OnCollapseExpandAllRows">
                                    Collapse/Expand all rows
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item @(!CanColumnsBeGrouped ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="OnGroupColumns">
                                    Group columns
                                </a>
                                <a class="dropdown-item @(!CanColumnsBeUngrouped ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="OnUngroupColumns">
                                    Ungroup columns
                                </a>
                                <a class="dropdown-item"
                                   href="#" @onclick:preventDefault @onclick="OnUngroupAllColumns">
                                    Ungroup all columns
                                </a>
                                <a class="dropdown-item"
                                   href="#" @onclick:preventDefault @onclick="OnCollapseExpandAllColumns">
                                    Collapse/Expand all columns
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item @(SelectedCellsCount != 1 ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="async () => await RememberCellSettings.InvokeAsync()">
                                    Remember cell settings
                                </a>
                                <a class="dropdown-item @(SelectedCellsCount == 0 ? "disabled" : "")"
                                   href="#" @onclick:preventDefault @onclick="async () => await ApplyRememberedCellSettings.InvokeAsync()">
                                    Apply remembered cell settings
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" style="margin-top:5px;">
        <div class="col-sm-1">
            <span class="text-primary" style="line-height: 30px;">
                @(string.IsNullOrWhiteSpace(Model.SelectedCellAddress) ? "RC" : @Model.SelectedCellAddress)
            </span>
        </div>
        <div class="col-sm-11">
            <BbTextInput HtmlStyle="width:100%;"
                         HtmlClass="form-control form-control-sm"
            @bind-Value="@Model.InputText"
                         Placeholder="Formula"
                         Changed="OnFormulaChanged">
            </BbTextInput>
        </div>
    </div>
</div>

@if (_isEditSettingsOpen)
{
    <EditParametersModal ClientX="@_clientX"
                         ClientY="@_clientY"
                         EditSettings="@Model.EditSettings"
                         DataTypeDataProvider="@DataTypeDataProvider"
                         Closed="OnEditParametersClosed" />
}