@page "/sheetedit"


@using HubCloud.BlazorSheet.Core.Enums
@using HubCloud.BlazorSheet.Components

<h3>Sheet Edit</h3>

<hr />

<SheetCommandPanel Model="@_commandPanelModel"
                   SelectedCellsCount="@SelectedCellsCount"
                   CanCellsBeJoined="@_canCellsBeJoined"
                   OpenCellLinkModal="() => _sheetComponent.OpenCellLinkModal()"
                   SplitJoinCells="() => _sheetComponent.SplitJoinCells()"
                   Changed="OnStyleChanged"
                   FormatChanged="OnFormatChanged"
                   FormulaChanged="OnFormulaChanged">
</SheetCommandPanel>

<hr />

<div class="row">

    <div class="col-sm-12">

        <SheetComponent @ref="_sheetComponent"
                        Sheet="@_sheet"
                        MaxHeight="500px"
                        MaxWidth="1000px"
                        Regime="@SheetRegimes.Design"
                        CellSelected="OnCellSelected"
                        CellsSelected="OnCellsSelected"
                        RowSelected="OnRowSelected"
                        ColumnSelected="OnColumnSelected">
        </SheetComponent>

    </div>

</div>


